@use '_commons' as c;

#footer{
    grid-area: footer;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #FFA2F3;


    @include c.desktop{
        padding-left: 20px;
        padding-right: 20px;
    }

    .redes{
        font-size: 20px;
        display: flex;
        flex-direction: row;
        gap: 10px;

        i{
            color: white;

            &:hover{
                color: #fcb900;
            }
        }

        @include c.desktop{
            font-size: 25px;
        }
    }
}
